<ion-header no-border>
  <ion-navbar hideBackButton="true">
    
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CHAIN_GATEWAY' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button secondary (click)="showInfo()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  	</ion-refresher>
	<ion-grid>
		<ion-row id="topRow">
			<ion-col id="currentPrice" col-3 col-sm-3 *ngIf="buyOrders != null && buyOrders.length != 0">
				{{ 'CURRENT_PRICE' | translate }}<br />
				<span id="currentPriceNum">{{buyOrders[0].askNQTPerCoin/exchangeDecimals | number : '1.0-8'}}</span>
			</ion-col>
			<ion-col col-3 col-sm-3 *ngIf="buyOrders == null || buyOrders.length == 0">
				<h5>N/A</h5>
			</ion-col>
			<ion-col col-3 col-sm-3 class="pairSelect" style="text-align: right;">
				<ion-select interface="popover" class="chainSelect" [(ngModel)]="chainName" name="chainName" (ionChange)="updateChains()">
			      <ng-container *ngFor="let arrayChain of chains">
			      <ion-option *ngIf="arrayChain != exchangeChainName" [value]="arrayChain">{{ arrayChain | uppercase }}</ion-option>
			  	  </ng-container>
			    </ion-select>
			</ion-col>
			<ion-col col-1 col-sm-1 class="pairSelect">
				<h3 style="text-align: center;color:#999;">|</h3>
			</ion-col>
			<ion-col col-3 col-sm-3 class="pairSelect" style="text-align: left;">
				<ion-select interface="popover" class="chainSelect" [(ngModel)]="exchangeChainName" name="exchangeChainName" (ionChange)="updateChains()">
				  <ng-container *ngFor="let arrayChain of chains">
				  	<ion-option *ngIf="arrayChain != chainName" [value]="arrayChain">{{ arrayChain | uppercase }}</ion-option>
				  </ng-container>
			    </ion-select>
			</ion-col>
			<ion-col col-2 col-sm-2>
				<button ion-button type="button" class="swapButton" (click)="swapChains()">
		          <ion-icon name="swap"></ion-icon>
			    </button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ng-container *ngIf="!loaded">
		<div id="loader" *ngIf="!accountsLoaded && !error">
			<ion-spinner></ion-spinner>	<br />
			{{ 'LOADING_INFO' | translate }}
		</div>
		<div id="loader" *ngIf="error">
			{{error}} <br />
			<button ion-button (click)="changeNode()">{{ 'RETRY' | translate }}</button>
		</div>
	</ng-container>
	<ng-container *ngIf="loaded">
		<div id="chart">
		    <div [chart]="chart" class="graph"></div>
		</div>
		<ion-grid>
			<ion-row>
				<ion-col col-6>
					<h3>{{ 'BUY_ORDERS' | translate }}</h3>	
					<button *ngIf="sellOrders == null || sellOrders.length == 0" ion-button type="button" (click)="showExchange(0,0,'Sell')">{{ 'SELL' | translate }}</button> 		
					<button *ngIf="sellOrders != null && sellOrders.length != 0" ion-button type="button" (click)="showExchange(sellOrders[0].bidNQTPerCoin/decimals,sellOrders[0].quantityQNT/decimals,'Sell')">{{ 'SELL' | translate }}</button> 
					<ion-grid *ngIf="sellOrders != null && sellOrders.length != 0">
						<ion-row class="tableHeader">
							<ion-col col-0 col-md-4 class="hidden-sm">{{ 'ACCOUNT' | translate }}</ion-col>
							<ion-col col-5 col-md-2>{{ 'PRICE' | translate }}</ion-col>
							<ion-col col-7 col-md-3>{{chainName}}</ion-col>
							<ion-col col-0 col-md-3 class="hidden-sm">{{exchangeChainName}}</ion-col>
						</ion-row>
						<ng-container *ngFor="let order of sellOrders | paginate: { id: 'sOrders_pages',
	                                                      itemsPerPage: '10',
	                                                      currentPage: sellOrdersPage }">
						<ion-row [ngClass]="{'yourTrade' : order.accountRS == accountId}">
							<ion-col col-0 col-md-4 class="hidden-sm">{{order.accountRS}}</ion-col>
							<ion-col col-5 col-md-2><a (click)="showExchange(order.bidNQTPerCoin/decimals,order.sum,'Sell')">{{order.bidNQTPerCoin/decimals | number : '1.0-6'}}</a></ion-col>
							<ion-col col-7 col-md-3 *ngIf="order.quantityQNT/decimals >= 0.001">{{(order.quantityQNT/decimals) | number : '1.0-3'}}</ion-col>
							<ion-col col-7 col-md-3 *ngIf="order.quantityQNT/decimals < 0.001"><0.001</ion-col>
							<ion-col col-0 col-md-3 class="hidden-sm" *ngIf="order.exchangeQNT/exchangeDecimals >= 0.001">{{order.exchangeQNT/exchangeDecimals | number : '1.0-3'}}</ion-col>
							<ion-col col-0 col-md-3 class="hidden-sm" *ngIf="order.exchangeQNT/exchangeDecimals < 0.001"><0.001</ion-col>
						</ion-row>
						</ng-container>
						<ion-row class="paginationRow">
							<ion-col class="paginationCol">
								<div style="text-align: center;">
									<pagination-controls (pageChange)="sellOrdersPage = $event" previousLabel="" nextLabel="" id="sOrders_pages" maxSize="5"></pagination-controls>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-col>
				<ion-col col-6>
					<h3>{{ 'SELL_ORDERS' | translate }}</h3>
					<button *ngIf="buyOrders == null || buyOrders.length == 0" ion-button type="button" (click)="showExchange(0,0,'Buy')">{{ 'BUY' | translate }}</button> 
					<button *ngIf="buyOrders != null && buyOrders.length != 0" ion-button type="button" (click)="showExchange(buyOrders[0].askNQTPerCoin/exchangeDecimals,(buyOrders[0].quantityQNT/decimals)/(buyOrders[0].askNQTPerCoin/decimals),'Buy')">{{ 'BUY' | translate }}</button>
					<ion-grid *ngIf="buyOrders != null && buyOrders.length != 0">
						<ion-row class="tableHeader">
							<ion-col col-0 col-md-4 class="hidden-sm">{{ 'ACCOUNT' | translate }}</ion-col>
							<ion-col col-5 col-md-2>{{ 'PRICE' | translate }}</ion-col>
							<ion-col col-7 col-md-3>{{chainName}}</ion-col>
							<ion-col col-0 col-md-3 class="hidden-sm">{{exchangeChainName}}</ion-col>
						</ion-row>
						<ng-container *ngFor="let order of buyOrders | paginate: { id: 'bOrders_pages',
	                                                      itemsPerPage: '10',
	                                                      currentPage: buyOrdersPage }">
	                    <ion-row [ngClass]="{'yourTrade' : order.accountRS == accountId}">
							<ion-col col-0 col-md-4 class="hidden-sm">{{order.accountRS}}</ion-col>
							<ion-col col-5 col-md-2><a (click)="showExchange(order.askNQTPerCoin/exchangeDecimals,order.sum,'Buy')">{{order.askNQTPerCoin/exchangeDecimals | number : '1.0-6'}}</a></ion-col>
							<ion-col col-7 col-md-3 *ngIf="order.exchangeQNT/decimals >= 0.001">{{order.exchangeQNT/decimals | number : '1.0-3'}}</ion-col>
							<ion-col col-7 col-md-3 *ngIf="order.exchangeQNT/decimals < 0.001"><0.001</ion-col>
							<ion-col col-0 col-md-3 class="hidden-sm" *ngIf="order.quantityQNT/exchangeDecimals >= 0.001">{{order.quantityQNT/exchangeDecimals | number : '1.0-3'}}</ion-col>
							<ion-col col-0 col-md-3 class="hidden-sm" *ngIf="order.quantityQNT/exchangeDecimals < 0.001"><0.001</ion-col>
						</ion-row>
						</ng-container>
						<ion-row class="paginationRow">
							<ion-col class="paginationCol">
								<div style="text-align: center;">
									<pagination-controls (pageChange)="buyOrdersPage = $event" previousLabel="" nextLabel="" id="bOrders_pages" maxSize="5"></pagination-controls>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12>
					<h3>{{ 'OPEN_ORDERS' | translate }}</h3>
					<ion-grid *ngIf="openOrders != null && openOrders.length != 0">
						<ion-row class="tableHeader">
							<ion-col col-5 col-md-3>{{ 'PRICE' | translate }}</ion-col>
							<ion-col col-6 col-md-4>{{chainName}}</ion-col>
							<ion-col col-0 col-md-4 class="hidden-sm">{{exchangeChainName}}</ion-col>
							<ion-col col-1 col-md-1></ion-col>
						</ion-row>
						<ng-container *ngFor="let order of openOrders | paginate: { id: 'bOrders_pages',
	                                                      itemsPerPage: '10',
	                                                      currentPage: buyOrdersPage }">
	                    <ion-row [ngClass]="{'yourTrade' : order.accountRS == accountId}">
							<ion-col col-5 col-md-3>{{order.askNQTPerCoin/exchangeDecimals | number : '1.0-6'}}</ion-col>
							<ion-col col-6 col-md-4 *ngIf="order.exchangeQNT/decimals >= 0.001">{{order.exchangeQNT/decimals | number : '1.0-3'}}</ion-col>
							<ion-col col-6 col-md-4 *ngIf="order.exchangeQNT/decimals < 0.001"><0.001</ion-col>
							<ion-col col-0 col-md-4 class="hidden-sm" *ngIf="order.quantityQNT/exchangeDecimals >= 0.001">{{order.quantityQNT/exchangeDecimals | number : '1.0-3'}}</ion-col>
							<ion-col col-0 col-md-4 class="hidden-sm" *ngIf="order.quantityQNT/exchangeDecimals < 0.001"><0.001</ion-col>
							<ion-col col-1 col-md-1><a (click)="cancelOrder(order.order, order.chain)"><ion-icon class="closeButton" name="close"></ion-icon></a></ion-col>
						</ion-row>
						</ng-container>
						<ion-row class="paginationRow">
							<ion-col class="paginationCol">
								<div style="text-align: center;">
									<pagination-controls (pageChange)="buyOrdersPage = $event" previousLabel="" nextLabel="" id="bOrders_pages" maxSize="5"></pagination-controls>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
					<h5 *ngIf="openOrders.length == 0">{{ 'NO_OPEN_ORDERS' | translate }}</h5>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12>
					
					<h3 *ngIf="allTrades">{{ 'ALL_TRADES' | translate }} <ion-toggle id="tradesToggle" [(ngModel)]="allTrades" (ionChange)="toggleTrades()"></ion-toggle></h3>
					<h3 *ngIf="!allTrades">{{ 'YOUR_TRADES' | translate }} <ion-toggle id="tradesToggle" [(ngModel)]="allTrades" (ionChange)="toggleTrades()"></ion-toggle></h3>

					<ion-grid *ngIf="trades != null && trades.length != 0">
						<ion-row class="tableHeader">
							<ion-col>{{ 'DATE' | translate }}</ion-col>
							<!-- <ion-col>Buy/Sell</ion-col> -->
							<ion-col>{{ 'PRICE' | translate }}</ion-col>
							<ion-col>{{chainName}}</ion-col>
							<ion-col class="hidden-sm">{{exchangeChainName}}</ion-col>
						</ion-row>
						<ng-container *ngFor="let trade of trades | paginate: { id: 'trades_pages',
	                                                      itemsPerPage: '10',
	                                                      currentPage: tradesOrdersPage }">
    					<!-- <ion-row [ngClass]="{'yourTrade' : trade.accountRS == accountId}"> -->
    					<ion-row>
							<ion-col>{{trade.date | date:'M/d H:mm'}}</ion-col>
							<!-- <ion-col>{{trade.type}}</ion-col> -->
							<ion-col>{{trade.price | number : '1.0-6'}}</ion-col>
							<!-- <ion-col *ngIf="trade.type == 'SELL'">{{trade.exchangeRate | number : '1.0-5'}}</ion-col> -->
							<ion-col *ngIf="trade.quantity >= 0.001">{{trade.quantity | number : '1.0-3'}}</ion-col>
							<ion-col *ngIf="trade.quantity < 0.001"><0.001</ion-col>
							<!-- <ion-col *ngIf="trade.type == 'SELL'">{{(trade.quantityQNT/decimals) | number : '1.0-5'}}</ion-col> -->
							<ion-col *ngIf="trade.quantityQNT/exchangeDecimals >= 0.001" class="hidden-sm">{{trade.quantityQNT/exchangeDecimals | number : '1.0-3'}}</ion-col>
							<ion-col *ngIf="trade.quantityQNT/exchangeDecimals < 0.001" class="hidden-sm"><0.001</ion-col>
							<!-- <ion-col class="hidden-sm" *ngIf="trade.type == 'SELL'">{{(trade.quantityQNT/decimals)*trade.exchangeRate | number : '1.0-5'}}</ion-col> -->
						</ion-row>
						</ng-container>
						<ion-row class="paginationRow">
							<ion-col>
								<div style="text-align: center;">
									<pagination-controls (pageChange)="tradesOrdersPage = $event" previousLabel="" nextLabel="" id="trades_pages" maxSize="5"></pagination-controls>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
					<h5 *ngIf="trades.length == 0">{{ 'NO_TRADES' | translate }}</h5>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ng-container>
</ion-content>
