page-coin-exchange {
    .scroll-content {
        padding: 8px 0 !important;
    }

    #topRow {
        background-color: #fff;
        border-radius: 10px;
    }

    .header button {
        font-size: 1.5em;
    }

    .select-md, .select-ios {
        padding: 0 3px 0 0;
        font-size: 1.2em;
        display: inline-flex;
        max-width: 100%;
        position: relative;
    }

    #topRow .button {
        width: 90%;
    }
    .button {
    	width: 100%;
        background: #1162a1;
        background: -moz-linear-gradient(0deg, #1162a1 0%, #3a86c7 100%);
        background: -webkit-linear-gradient(0deg, #1162a1 0%,#3a86c7 100%);
        background: linear-gradient(0deg, #1162a1 0%,#3a86c7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1162a1', endColorstr='#3a86c7',GradientType=1 );
    }

    #topRow .button-md, #topRow .button-ios {
        height: 1.8em;
    }

    #topRow ion-col.col {
        padding: 5px 8px 5px 8px;
    }

    ion-col.col {
        padding: 3px;
    }

    .swapButton {
        //top: -10px;
    }

    .ngx-pagination {
    	padding: 0;
    }

    .ngx-pagination a, .ngx-pagination button, .ngx-pagination .current, .ngx-pagination .disabled {
        padding: 0.1875rem 0.5rem
    }

    .ngx-pagination .current {
        background-color: #1162a1;
    }

    .paginationCol {
        padding: 5px 0;
    }

    .tableHeader {
    	font-weight: bold;
    }

    .grid {
        //padding: 0;
    }

    #loader {
        margin: auto;
        text-align: center;
        font-size: 24px;
    }

    #tradesToggle {
        float: right;
    }

    ion-grid ion-grid ion-row {
        border-bottom: 1px #ddd solid;
    }

    ion-grid ion-grid ion-row.paginationRow {
        border-bottom: none;
    }

    #currentPrice {
        color: #999;
        font-size: 12px;
        padding-right: 0 !important;
    }

    #currentPriceNum {
        color: #000;
    }

    .pairSelect {
        margin-top: 7px;
    }

    // ion-grid ion-grid ion-row:nth-child(even) {
    //     background-color: rgba(0, 0, 0, 0.2);
    // }

    // ion-grid ion-grid ion-row.paginationRow {
    //     background-color: rgba(0, 0, 0, 0);
    // }

    ion-grid ion-grid ion-row.yourTrade {
        background-color: rgba(17, 98, 161, 0.3);
    }

    .closeButton {
        color: #f43d3d;
    }

    sub {
        float: left;
    }
    
    h5 {
        margin-top: 1.0rem;
        margin-bottom: 0;
    }

    @media(max-width: 425px){
        h5 {
            font-size: 16px;
        }
    }

    @media(max-width: 767px){
        .hidden-sm {
            display:none;
        }

        .no-top-bottom-padding {
            padding: 0 5px;
        }

    }
    @media(min-width: 768px){
        .show-sm {
            display:none;
        }
    }
}
