page-coin-exchange {
	.header button {
        font-size: 1.5em;
    }

    .select-md, .select-ios {
        padding: 0 3px 0 0;
        font-size: 1.2em;
        display: inline-flex;
        max-width: 100%;
    }

    .button {
    	width: 100%;
        background-color: #1162a1;
    }

    ion-col.col {
        padding: 3px;
    }

    .swapButton {
        top: -10px;
    }

    .ngx-pagination {
    	padding: 0;
    }

    .ngx-pagination a, .ngx-pagination button, .ngx-pagination .current, .ngx-pagination .disabled {
        padding: 0.1875rem 0.5rem
    }

    .ngx-pagination .current {
        background-color: #1162a1;
    }

    .paginationCol {
        padding: 5px 0;
    }

    .tableHeader {
    	font-weight: bold;
    	text-decoration: underline;
    }

    .grid {
        padding: 0;
    }

    #loader {
        margin: auto;
        text-align: center;
        font-size: 24px;
    }

    #tradesToggle {
        float: right;
    }

    ion-grid ion-grid ion-row:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.2);
    }

    ion-grid ion-grid ion-row.paginationRow {
        background-color: rgba(0, 0, 0, 0);
    }

    ion-grid ion-grid ion-row.yourTrade {
        background-color: rgba(17, 98, 161, 0.3);
    }

    .closeButton {
        color: #f43d3d;
    }

    @media(max-width: 425px){
        h5 {
            font-size: 16px;
        }
    }

    @media(max-width: 767px){
        .hidden-sm {
            display:none;
        }

        .no-top-bottom-padding {
            padding: 0 5px;
        }

    }
    @media(min-width: 768px){
        .show-sm {
            display:none;
        }
    }
}
