page-about {
	.header button {
        font-size: 1.5em;
    }

    .scroll-content, .scroll-content a {
        background: #1162a1;
        background: -moz-linear-gradient(0deg, #1162a1 0%, #3a86c7 100%);
        background: -webkit-linear-gradient(0deg, #1162a1 0%,#3a86c7 100%);
        background: linear-gradient(0deg, #1162a1 0%,#3a86c7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1162a1', endColorstr='#3a86c7',GradientType=1 );
        text-align: center;
        color: #fff;
        text-decoration: none;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    .scroll-content p {
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.75);
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    #donateButton {
        background-color: #fff;
        color: #1162a1;
    }
}
