<ion-header no-border>
  <ion-navbar hideBackButton="true">
  	<ion-buttons left>
	    <button *ngIf="listActive" ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
	    <button *ngIf="!listActive" ion-button clear icon-only (click)="listActive = true">
	        <ion-icon name="arrow-round-back"></ion-icon>
	    </button>
    </ion-buttons>
    <ion-title  *ngIf="listActive">{{ 'ASSETS' | translate }}</ion-title>
    <ion-title  *ngIf="!listActive">{{ selectedAsset.name }}</ion-title>
    <ion-buttons end *ngIf="!listActive">
      <button ion-button secondary (click)="showInfo()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<div *ngIf="assetsInfo == null" style="text-align: center;">
		<h1 style="text-align: center;">{{ 'LOADING' | translate }}</h1>
	</div>

	<div *ngIf="assetsInfo && listActive">
		<h2>{{message}}</h2>
		<ion-list>
			<ion-item>
				<ion-input id="searchAsset" [(ngModel)]="searchAssetID" max="20" name="assetID" type="number" placeholder="Asset ID"></ion-input>
				<button id="searchIcon" ion-button clear color="dark" type="button" item-right (click)="searchAsset()"> <ion-icon name="search"></ion-icon> </button>
			</ion-item>

			<ion-grid>
			 	<ion-row id="tabMenu">
		      <ion-col (click)="viewMyAssets(true)" [class.activeTab]="accountAssets">
		        <div>{{ 'MY_ASSETS' | translate }}</div>
		      </ion-col>
		      <ion-col (click)="viewMyAssets(false)" [class.activeTab]="!accountAssets">
		        <div>Verified Assets</div>
		      </ion-col>
		    </ion-row>
		  </ion-grid>

		  <div *ngIf="loading && assetsInfo && assetsInfo.length == 0" style="text-align: center;">
				<h2 style="text-align: center;">{{ 'LOADING' | translate }}</h2>
			</div>
			<div *ngIf="!loading && assetsInfo && assetsInfo.length == 0" style="text-align: center;">
				<h2 style="text-align: center;">No Assets</h2>
			</div>
			<div *ngIf="assetsInfo && assetsInfo.length > 0">
		    <ion-item *ngFor="let assetInfo of assetsInfo">
		    	<div *ngIf="accountAssets" (click)="showTransfer(assetInfo)" style="float: right;width: 20%">
			    	<button ion-button type="button">{{ 'SEND' | translate }}</button> 
			    </div>
		    	<div *ngIf="accountAssets" (click)="setAsset(assetInfo.asset)" style="width: 80%">
			    	<h2>{{assetInfo.name}}</h2>
			      <div class="smallTxt">{{ 'BALANCE' | translate }}: {{assetInfo.quantity | number : '1.0-8'}}</div>
			    </div>

			    <div *ngIf="!accountAssets" (click)="setAsset(assetInfo.asset)" style="width: 100%">
			    	<h2>{{assetInfo.name}}</h2>
			      <div class="smallTxt">{{assetInfo.description}}</div>
			    </div>
	    	</ion-item>
	    </div>
	  </ion-list> 
	</div>

	<div *ngIf="!listActive">
		<ion-grid>
			<ion-row id="topRow">
				<ion-col id="currentPrice" col-3 col-sm-3>
					{{ 'CURRENT_PRICE' | translate }}<br />
					<span id="currentPriceNum" *ngIf="currentPrice">{{currentPrice | number : '1.0-8'}}</span>
					<span id="currentPriceNum" *ngIf="!currentPrice">N/A</span>
				</ion-col>
				<ion-col col-4 col-sm-4 class="pairSelect" style="text-align: right;">
					{{ selectedAsset.name }}
				</ion-col>
				<ion-col col-1 col-sm-1 class="pairSelect">
					<h3 style="text-align: center;color:#999;">/</h3>
				</ion-col>
				<ion-col col-4 col-sm-4 class="pairSelect" style="text-align: left;">
					<ion-select interface="popover" class="chainSelect" [(ngModel)]="chain" name="chain" (ionChange)="currentPrice = null;allTrades = true;getTrades();getOrders()">
			      <ng-container *ngFor="let arrayChain of chains">
			      	<ion-option *ngIf="arrayChain != 'ARDR'" [value]="arrayChain">{{ arrayChain | uppercase }}</ion-option>
			  	  </ng-container>
			    </ion-select>
				</ion-col>
			</ion-row>
		</ion-grid>
		<div id="chart" *ngIf="data && data.length > 0">
			<div [chart]="chart" class="graph"></div>
		</div>

		<ion-grid>
			<ion-row>
				<ion-col col-6>
					<h3>{{ 'BUY_ORDERS' | translate }}</h3>			
					<button *ngIf="sellOrders == null || sellOrders.length == 0" ion-button type="button" (click)="showExchange(0,0,'Sell')">{{ 'SELL' | translate }}</button> 
					<button *ngIf="sellOrders != null && sellOrders.length != 0" ion-button type="button" (click)="showExchange(sellOrders[0].priceNQTPerShare/chainDecimals,sellOrders[0].quantityQNT/decimals,'Sell')">{{ 'SELL' | translate }}</button> 
					<ion-grid *ngIf="sellOrders != null && sellOrders.length != 0">
						<ion-row class="tableHeader">
							<ion-col col-0 col-md-4 class="hidden-sm">{{ 'ACCOUNT' | translate }}</ion-col>
							<ion-col col-5 col-md-2>{{ 'PRICE' | translate }}</ion-col>
							<ion-col col-7 col-md-3>{{ 'QUANTITY' | translate }}</ion-col>
						</ion-row>
						<ng-container *ngFor="let order of sellOrders | paginate: { id: 'sOrders_pages',
	                                                      itemsPerPage: '10',
	                                                      currentPage: sellOrdersPage }">
						<ion-row [ngClass]="{'yourTrade' : order.accountRS == accountId}">
							<ion-col col-0 col-md-4 class="hidden-sm" *ngIf="order.accountRS == accountId">You</ion-col>
							<ion-col col-0 col-md-4 class="hidden-sm" *ngIf="order.accountRS != accountId">{{order.accountRS}}</ion-col>
							<ion-col col-5 col-md-2><a (click)="showExchange(order.priceNQTPerShare/chainDecimals,order.sum,'Sell')">{{order.priceNQTPerShare/chainDecimals | number : '1.0-6'}}</a></ion-col>
							<ion-col col-7 col-md-3 *ngIf="order.quantityQNT/decimals >= 0.001">{{(order.quantityQNT/decimals) | number : '1.0-3'}}</ion-col>
							<ion-col col-7 col-md-3 *ngIf="order.quantityQNT/decimals < 0.001"><0.001</ion-col>
						</ion-row>
						</ng-container>
						<ion-row class="paginationRow">
							<ion-col class="paginationCol">
								<div style="text-align: center;">
									<pagination-controls (pageChange)="sellOrdersPage = $event" previousLabel="" nextLabel="" id="sOrders_pages" maxSize="5"></pagination-controls>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-col>
				<ion-col col-6>
					<h3>{{ 'SELL_ORDERS' | translate }}</h3>
					<button *ngIf="buyOrders == null || buyOrders.length == 0" ion-button type="button" (click)="showExchange(0,0,'Buy')">{{ 'BUY' | translate }}</button> 
					<button *ngIf="buyOrders != null && buyOrders.length != 0" ion-button type="button" (click)="showExchange(buyOrders[0].priceNQTPerShare/chainDecimals,buyOrders[0].quantityQNT/decimals,'Buy')">{{ 'BUY' | translate }}</button>
					<ion-grid *ngIf="buyOrders != null && buyOrders.length != 0">
						<ion-row class="tableHeader">
							<ion-col col-0 col-md-4 class="hidden-sm">{{ 'ACCOUNT' | translate }}</ion-col>
							<ion-col col-5 col-md-2>{{ 'PRICE' | translate }}</ion-col>
							<ion-col col-7 col-md-3>{{ 'QUANTITY' | translate }}</ion-col>
						</ion-row>
						<ng-container *ngFor="let order of buyOrders | paginate: { id: 'bOrders_pages',
	                                                      itemsPerPage: '10',
	                                                      currentPage: buyOrdersPage }">
	          <ion-row [ngClass]="{'yourTrade' : order.accountRS == accountId}">
							<ion-col col-0 col-md-4 class="hidden-sm" *ngIf="order.accountRS == accountId">You</ion-col>
							<ion-col col-0 col-md-4 class="hidden-sm" *ngIf="order.accountRS != accountId">{{order.accountRS}}</ion-col>
							<ion-col col-5 col-md-2><a (click)="showExchange(order.priceNQTPerShare/chainDecimals,order.sum,'Buy')">{{order.priceNQTPerShare/chainDecimals | number : '1.0-6'}}</a></ion-col>
							<ion-col col-7 col-md-3 *ngIf="order.quantityQNT/decimals >= 0.001">{{order.quantityQNT/decimals | number : '1.0-3'}}</ion-col>
							<ion-col col-7 col-md-3 *ngIf="order.quantityQNT/decimals < 0.001"><0.001</ion-col>
						</ion-row>
						</ng-container>
						<ion-row class="paginationRow">
							<ion-col class="paginationCol">
								<div style="text-align: center;">
									<pagination-controls (pageChange)="buyOrdersPage = $event" previousLabel="" nextLabel="" id="bOrders_pages" maxSize="5"></pagination-controls>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12>
					<h3>{{ 'OPEN_ORDERS' | translate }}</h3>
					<ion-grid *ngIf="openOrders != null && openOrders.length != 0">
						<ion-row class="tableHeader">
							<ion-col col-3>{{ 'TYPE' | translate }}</ion-col>
							<ion-col col-4>{{ 'QUANTITY' | translate }}</ion-col>
							<ion-col col-4>{{ chain }}</ion-col>
							<ion-col col-1 col-md-1></ion-col>
						</ion-row>
						<ng-container *ngFor="let order of openOrders | paginate: { id: 'openOrders_pages',
	                                                      itemsPerPage: '10',
	                                                      currentPage: openOrdersPage }">
	                    <ion-row [ngClass]="{'yourTrade' : order.accountRS == accountId}">
							<ion-col col-3>{{order.type}}</ion-col>
							<ion-col col-4>{{order.quantityQNT/decimals | number : '1.0-6'}}</ion-col>
							<ion-col col-4 *ngIf="order.priceNQTPerShare/chainDecimals >= 0.001">{{order.priceNQTPerShare/chainDecimals | number : '1.0-3'}}</ion-col>
							<ion-col col-4 *ngIf="order.priceNQTPerShare/chainDecimals < 0.001"><0.001</ion-col>
							<ion-col col-1><a (click)="cancelOrder(order.order, chain, order.type)"><ion-icon class="closeButton" name="close"></ion-icon></a></ion-col>
						</ion-row>
						</ng-container>
						<ion-row class="paginationRow">
							<ion-col class="paginationCol">
								<div style="text-align: center;">
									<pagination-controls (pageChange)="openOrdersPage = $event" previousLabel="" nextLabel="" id="openOrders_pages" maxSize="5"></pagination-controls>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
					<h5 *ngIf="!openOrders || openOrders.length == 0">{{ 'NO_OPEN_ORDERS' | translate }}</h5>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12>
				<!-- Closed Trades -->			
					<h3 *ngIf="allTrades">{{ 'ALL_TRADES' | translate }} on {{chain}} <ion-toggle id="tradesToggle" [(ngModel)]="allTrades" (ionChange)="getTrades()"></ion-toggle></h3>
					<h3 *ngIf="!allTrades">{{ 'YOUR_TRADES' | translate }} <ion-toggle id="tradesToggle" [(ngModel)]="allTrades" (ionChange)="getTrades()"></ion-toggle></h3>

					<ion-grid *ngIf="trades != null && trades.length > 0">
						<ion-row class="tableHeader">
							<ion-col>{{ 'DATE' | translate }}</ion-col>
							<ion-col>{{ 'QUANTITY' | translate }}</ion-col>
							<ion-col>{{ chain }}</ion-col>
						</ion-row>
						<ng-container *ngFor="let trade of trades | paginate: { id: 'trades_pages',
			                                                  itemsPerPage: '10',
			                                                  currentPage: tradesOrdersPage }">
							<ion-row [ngClass]="{'buyTrade' : trade.tradeType == 'buy', 'sellTrade' : trade.tradeType == 'sell'}">
							<ion-col>{{trade.date | date:'M/d/yy H:mm'}}</ion-col>
							<ion-col *ngIf="trade.quantity >= 0.001">{{trade.quantity | number : '1.0-3'}}</ion-col>
							<ion-col *ngIf="trade.quantity < 0.001"><0.001</ion-col>
							<ion-col>{{trade.price | number : '1.0-6'}}</ion-col>
						</ion-row>
						</ng-container>
						<ion-row class="paginationRow">
							<ion-col>
								<div style="text-align: center;">
									<pagination-controls (pageChange)="tradesOrdersPage = $event" previousLabel="" nextLabel="" id="trades_pages" maxSize="5"></pagination-controls>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
					<h5 *ngIf="!trades || trades.length == 0">{{ 'NO_TRADES' | translate }}</h5>
				</ion-col>
			</ion-row>
		</ion-grid>

<!-- 	  <button ion-button>{{ 'BUY' | translate }}</button> 
	  <button ion-button>{{ 'SELL' | translate }}</button> 
	  <button ion-button>{{ 'TRANSFER' | translate }}</button>  -->
	</div>

   
</ion-content>
