<ion-header no-border>

  <ion-navbar>
    <ion-title>{{ 'LEASE_BALANCE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [class]="theme">

  <form [formGroup]="leaseForm">
	<ion-list *ngIf="status != 1">
		<ion-item *ngIf="!soloForge">
			<ion-label stacked color="primary">{{ 'TO' | translate }} <canvas *ngIf="recipient != null && recipient != ''" class="idIcon" width="30" height="30" [attr.data-jdenticon-value]="recipient"></canvas></ion-label>
			<ion-input placeholder="{{ 'ACCOUNT_NUMBER_ALIAS' | translate }}" [(ngModel)]="recipient" [disabled]="disableSend || disableRec" name="recipient" type="text" formControlName="recipientForm" (ngModelChange)="recipient = recipient.toUpperCase()">
   			</ion-input>
   			<button *ngIf="!disableRec" id="qrIcon" ion-button clear color="dark" type="button" item-right (click)="openBarcodeScanner()"> <ion-icon name="barcode"> </ion-icon> </button>
   			<button *ngIf="!disableRec" id="contactsIcon" ion-button clear color="dark" type="button" item-right (click)="openContacts()"> <ion-icon name="people"> </ion-icon> </button>
   			<ion-select [(ngModel)]="recipient" name="recipient" style="display:none;" okText="{{ 'OK' | translate }}" cancelText="{{ 'CANCEL' | translate }}" formControlName="recipientForm">
	          <ion-option *ngFor="let contact of contacts" value="{{contact.account}}">
	            <span *ngIf="contact.name != ''">{{contact.name}}</span>
	            <span *ngIf="contact.name == ''">{{contact.account}}</span>
	          </ion-option>
	        </ion-select>
		</ion-item>
		<ion-item>
			<ion-label color="primary">{{ 'DAYS' | translate }}</ion-label>
			<ion-select [(ngModel)]="days" [disabled]="disableSend" formControlName="daysForm" name="days">
			  <ion-option *ngFor="let day of daysArray" value="{{day*1440}}">{{day}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked color="primary">{{ 'PASSPHRASE' | translate }}</ion-label>
			<ion-input [(ngModel)]="password" [disabled]="disableSend" name="password" type="{{passwordType}}" formControlName="passwordForm">
			</ion-input>

			<button id="eyeIcon" ion-button clear color="dark" type="button" item-right (click)="togglePassword()"> <ion-icon *ngIf="passwordType == 'password'" name="eye"> </ion-icon><ion-icon *ngIf="passwordType == 'text'" name="eye-off"> </ion-icon> </button>
			<button id="fingerIcon" *ngIf="fingerAvailable === true && hasPassphrase" ion-button clear color="dark" type="button" item-right (click)="showFingerprint()"> <ion-icon name="finger-print"></ion-icon> </button>
			<button id="fingerIcon" *ngIf="usePin === true && hasPassphrase" ion-button clear color="dark" type="button" item-right (click)="showPin()"> <ion-icon name="keypad"></ion-icon> </button>
			<button id="qrIcon" ion-button clear color="dark" type="button" item-right (click)="openBarcodeScannerPassword('password')"> <ion-icon name="barcode"> </ion-icon> </button>
		</ion-item>
    </ion-list>
    <ion-row responsive-sm>
      <ion-col [ngClass]="{'successBox' : (status == 1), 'failedBox':(status == -1)}">
        {{resultTxt}}
      </ion-col>
    </ion-row>

	<ion-row responsive-sm>
		<ion-col>
			<button ion-button *ngIf="!soloForge" [disabled]="disableSend || !leaseForm.valid" (click)="onSend()" type="submit" block>{{ 'SEND' | translate }}</button>
			<button ion-button *ngIf="soloForge" [disabled]="disableSend || !leaseForm.valid" (click)="onSoloSend()" type="submit" block>{{ 'START' | translate }}</button>
		</ion-col>
    </ion-row>
    <ion-row responsive-sm>
    	<ion-col>
			<button ion-button color="light" (click)="closeModal()" block>{{ 'CLOSE' | translate }}</button>
		</ion-col>
    </ion-row>
	</form>

</ion-content>
