page-guest-login {
	.scroll-content {
		background: #1162a1;
        background: -moz-linear-gradient(0deg, #1162a1 0%, #3a86c7 100%);
        background: -webkit-linear-gradient(0deg, #1162a1 0%,#3a86c7 100%);
        background: linear-gradient(0deg, #1162a1 0%,#3a86c7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1162a1', endColorstr='#3a86c7',GradientType=1 );
	}

    .header button {
        font-size: 1.5em;
    }

	#qrIcon {
        font-size: 1.75em;
        margin: 0;
        padding: 0 0.4em;
        height: 100%;
        color: #777;
    	position: relative;
    }

    .item.item-md .checkbox-md, .item.item-ios .checkbox-ios {
        margin: 9px 9px 9px 4px;
    }

    .item.item-md, .item.item-ios {
        font-size: 1.15em;
    }

    .failedBox {
        background-color: #f53d3d;
        color: white;
        padding: 10px;
        border-radius: 2px;
    }

    .list-md > .item-block:last-child .item-inner, .list-ios > .item-block:last-child .item-inner {
        border-bottom: none;
    }
}
