<ion-header id="homeHeader" no-border>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img id="chainLogo" src="assets/imgs/{{chainName | lowercase}}.png" />
      <ion-select id="chainSelect" [(ngModel)]="chainName" interface="action-sheet" name="chainName" okText="{{ 'OK' | translate }}" cancelText="{{ 'CANCEL' | translate }}" (ionChange)="changeChain()">
        <ion-option *ngFor="let arrayChain of chains" [value]="arrayChain">
          {{ arrayChain | uppercase }}
        </ion-option>
      </ion-select>
    </ion-title>
    <ion-buttons end>
      <button ion-button secondary *ngIf="!leased && balance.unconfirmedBalanceNQT != null && balance.unconfirmedBalanceNQT/decimals > 1000" (click)="presentPopoverLease($event)">
        <ion-icon name="warning"></ion-icon>
      </button>
      <button ion-button secondary (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding fixed>
  <ion-grid id="homeGrid">
    <ion-row id="homeTop">
      <ion-col>
        <div *ngIf="balance != null">
          <h5 id="balance">{{ 'BALANCE' | translate }}
            <ion-select id="currancySelect" [(ngModel)]="currency" interface="action-sheet" name="currency" okText="{{ 'OK' | translate }}" cancelText="{{ 'CANCEL' | translate }}" (ionChange)="changeCurrency()">
              <ion-option *ngFor="let arrayCurrency of currencies" [value]="arrayCurrency">
                {{ arrayCurrency | uppercase }}
              </ion-option>
            </ion-select>
          </h5>
          <h4 *ngIf="balance.unconfirmedBalanceNQT != null">
            <b>{{balanceFirst | number : '1.0-0'}}.<sub>{{balanceSecond}}</sub></b> <span class="lighterText smallerText"><br />{{chainName}}</span>
          </h4>
          <h4 *ngIf="balance.unconfirmedBalanceNQT == null"><b>0</b> <span class="lighterText smallerText"><br />{{chainName}}</span></h4>

          <ng-container *ngIf="currency == 'BTC' || currency == 'ETH'">
            <h6 *ngIf="balance.unconfirmedBalanceNQT != null && change > 0 && price != 0"> <span class="lighterText">{{symbol}}</span>{{balance.unconfirmedBalanceNQT/decimals * price | number : '1.2-8'}}  <span class="change24 success">&uarr;{{change | number : '1.2-2'}}%</span></h6>
            <h6 *ngIf="balance.unconfirmedBalanceNQT != null && change < 0 && price != 0"> <span class="lighterText">{{symbol}}</span>{{balance.unconfirmedBalanceNQT/decimals * price | number : '1.2-8'}}  <span class="change24 danger">&darr;{{change | number : '1.2-2'}}%</span></h6>
            <h6 *ngIf="balance.unconfirmedBalanceNQT != null && change == 0 && price != 0"> <span class="lighterText">{{symbol}}</span>{{balance.unconfirmedBalanceNQT/decimals * price | number : '1.2-8'}}  <span class="change24">{{change | number : '1.2-2'}}%</span></h6>
          </ng-container>
          <ng-container *ngIf="currency != 'BTC' && currency != 'ETH'">
            <h6 *ngIf="balance.unconfirmedBalanceNQT != null && change > 0 && price != 0"> <span class="lighterText">{{symbol}}</span>{{balance.unconfirmedBalanceNQT/decimals * price | number : '1.2-2'}}  <span class="change24 success">&uarr;{{change | number : '1.2-2'}}%</span></h6>
            <h6 *ngIf="balance.unconfirmedBalanceNQT != null && change < 0 && price != 0"> <span class="lighterText">{{symbol}}</span>{{balance.unconfirmedBalanceNQT/decimals * price | number : '1.2-2'}}  <span class="change24 danger">&darr;{{change | number : '1.2-2'}}%</span></h6>
            <h6 *ngIf="balance.unconfirmedBalanceNQT != null && change == 0 && price != 0"> <span class="lighterText">{{symbol}}</span>{{balance.unconfirmedBalanceNQT/decimals * price | number : '1.2-2'}}  <span class="change24">{{change | number : '1.2-2'}}%</span></h6>
          </ng-container>

          <h6 *ngIf="balance.unconfirmedBalanceNQT == null || price == 0"> <span class="lighterText">{{symbol}}</span> 0 </h6>
        </div>
      </ion-col>
    </ion-row>
    <ion-row id="tabMenu">
      <ion-col (click)="openPage(txPage)" [class.activeTab]="txSelected">
        <ion-icon name="time"></ion-icon>
        <div class="smallerText">Transactions</div>
      </ion-col>
      <ion-col (click)="openPage(sendPage)" [class.activeTab]="sendSelected">
        <ion-icon name="send"></ion-icon>
        <div class="smallerText">{{ 'SEND' | translate }}</div>
      </ion-col>
      <ion-col (click)="openPage(receivePage)" [class.activeTab]="receiveSelected">
        <ion-icon name="barcode"></ion-icon>
        <div class="smallerText">{{ 'RECEIVE' | translate }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid id="txTable">
    <ion-nav id="navContainer" #content [root]="rootPage"></ion-nav>
  </ion-grid>
</ion-content>
