<ion-header no-border>

  <ion-navbar>
    <ion-title>{{ 'SETTINGS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{'darkTheme' : (darkMode == true)}">
	<h5 *ngIf="!guest">{{ 'ACCOUNT_SETTINGS' | translate  }}</h5>
	<ion-list>
		<ion-item *ngIf="!guest">
			<ion-label item-start stacked color="primary">{{ 'DEFAULT_CHAIN' | translate }}</ion-label>
			<ion-select class="chainSelect" [(ngModel)]="chainName" name="chainName" (ionChange)="setChain()">
	      <ion-option *ngFor="let arrayChain of chains" [value]="arrayChain">
	        {{ arrayChain | uppercase }}
	      </ion-option>
	    </ion-select>
		</ion-item>
	</ion-list>
	<h5>{{ 'GLOBAL_SETTINGS' | translate  }}</h5>
	<ion-list>
		<ion-item>
	    <ion-label>{{ 'ENABLE_DARK' | translate }}</ion-label>
	    <ion-toggle [(ngModel)]="darkMode" (ionChange)="setTheme()"></ion-toggle>
    </ion-item>
    <ion-item>
	    <ion-label>{{ 'DEFAULY_CURRENCY' | translate }}</ion-label>
	    <ion-select class="chainSelect" interface="action-sheet" [(ngModel)]="currency" name="currency" (ionChange)="setCurrency()">
	      <ion-option *ngFor="let arrayCurrency of currencies" [value]="arrayCurrency">
	        {{ arrayCurrency | uppercase }}
	      </ion-option>
	    </ion-select>
    </ion-item>
    <ion-item id="buttonItem">
    	<ion-col>
			<button ion-button color="light" (click)="closeModal()" block>{{ 'CLOSE' | translate }}</button>
		</ion-col>
    </ion-item>
	</ion-list>
</ion-content>
