page-edit-contact-modal {
	#qrIcon {
        font-size: 1.75em;
        margin: 0;
        padding: 0 0.4em;
        height: 100%;
        color: #777;
    	position: relative;
    }

    ion-content {
		background-color: #fff;
	}
}
