// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: nasalization;
    src: url("../assets/fonts/nasalization/nasalization-rg.ttf");
}

@font-face {
    font-family: SourceSansPro;
    src: url("../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: SourceSansProLight;
    src: url("../assets/fonts/SourceSansPro/SourceSansPro-Light.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf");
}

@media(max-width: 575px){
    ion-app.md, ion-app.ios {
    	font-size: 1.3rem;
    }
}

.menu-inner .scroll-content, .menu-inner .scroll-content .item-md, .menu-inner .scroll-content .item-ios {
	background: #1162a1;
    background: -moz-linear-gradient(45deg, #1162a1 0%, #3a86c7 100%);
    background: -webkit-linear-gradient(45deg, #1162a1 0%,#3a86c7 100%);
    background: linear-gradient(45deg, #1162a1 0%,#3a86c7 100%);
	color: rgba(255, 255, 255, 0.75);
	font-size: 18px;
}

.menu-inner #sideNav .scroll-content .item-md, .menu-inner #sideNav .scroll-content .item-ios {
    box-shadow: none;
    background: transparent;
    border: none;
}

#sideNav ion-icon {
	padding: 15px 5px;
}

.activePage {
    background-color: #07426d;
}

.disable-scroll .ion-page { //Fix for model from popover in iOS
    pointer-events: auto;
}

ion-app.md [padding] .scroll-content, ion-app.ios [padding] .scroll-content {
    padding: 8px 4px;
}

// .darkTheme .item-md, .darkTheme .item-ios, .darkTheme .ngx-pagination a {
//     background-color: #333 !important;
//     color: #fff !important;
// }

// .darkTheme, .darkTheme .content-md, .darkTheme .content-ios {
//     background: #1162a1;
//     background: -moz-linear-gradient(45deg, #1162a1 0%, #3a86c7 100%);
//     background: -webkit-linear-gradient(45deg, #1162a1 0%,#3a86c7 100%);
//     background: linear-gradient(45deg, #1162a1 0%,#3a86c7 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1162a1', endColorstr='#3a86c7',GradientType=1 );
//     color: #fff !important;
// }
.lightTheme page-home .content-md, .lightTheme page-home .content-ios, .darkTheme page-home .content-md, .darkTheme page-home .content-ios {
    background-color: transparent;
}
.lightTheme, .lightTheme .content-md, .lightTheme .content-ios, .lightTheme #txTable .content-md, .lightTheme #txTable .content-ios {
    background-color: #f9f9fb;
    color: #000;
}
.lightTheme .scroll-content {
    background-color: #f9f9fb;
}

.darkTheme, .darkTheme .content-md, .darkTheme .content-ios, .darkTheme #txTable .content-md, .darkTheme #txTable .content-ios, .darkTheme #homeTop, .darkTheme .popover-md .popover-content, .darkTheme .popover-ios .popover-content, .darkTheme page-coin-exchange #topRow, .darkTheme page-coin-exchange #currentPriceNum, .darkTheme page-assets #topRow, .darkTheme page-assets #currentPriceNum {
    background-color: #222 !important;
    color: #fff !important;
}
.darkTheme .row {
    border-bottom-color: #555 !important;
}
.darkTheme .scroll-content {
    background-color: #222;
}
.darkTheme #homeTop {
    color: #000;
}
.darkTheme.list-md, .darkTheme.list-ios {
    margin: -4px 0;
}
// .darkTheme .content-md .pairSelect, .darkTheme .content-ios .pairSelect {
//     color: #000 !important;
// }
.darkTheme .item-md, .darkTheme .item-ios {
    color: #fff !important;
    background-color: #000;
    box-shadow: 0px 0px 4px #030303;
}
.darkTheme .list-md > .item-block:last-child .item-inner, .darkTheme .list-ios > .item-block:last-child .item-inner {
    border-bottom: 0;
}
.darkTheme page-send-tab form {
    color: #fff !important;
    background-color: #000;
}
.darkTheme page-receive-tab p {
    color: #aaa;
}
.darkTheme .ngx-pagination a {
    color: #fff !important;
}
.darkTheme page-receive-tab .grid {
    background-color: #000;
}
.darkTheme #tabMenu {
    background-color: #222 !important;
    color: rgba(255, 255, 255, 0.51) !important;
}
.darkTheme #tabMenu .activeTab {
    color: #fff !important;
    // border-bottom: 2px solid #1162a1;
    border-bottom: 2px solid #fff;
}
.darkTheme page-assets #searchAsset {
    background-color: #000;
    color: #fff;
}

.list-md .item-input:last-child, .list-ios .item-input:last-child {
    border-bottom: 0;
}

.list-md > .item-block:last-child .item-inner, .list-ios > .item-block:last-child .item-inner {
    border-bottom: 1px solid #dedede;
}

.menu-inner .list-md > .item-block:last-child .item-inner, .menu-inner .list-ios > .item-block:last-child .item-inner,
#loginAccounts .list-md > .item-block:last-child .item-inner, #loginAccounts .list-ios > .item-block:last-child .item-inner,
#nodeSelect .item-inner,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child, 
.list-ios .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.item-input-has-focus:last-child,.list-md .item-input.input-has-focus:last-child,
.list-ios .item-input.item-input-has-focus:last-child,.list-ios .item-input.input-has-focus:last-child,
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-ios .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-ios .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-ios > .item-block > .item-inner, .list-md > .item-block > .item-inner
{
    border-bottom: 0;
    box-shadow: none;
}

.button-md, .button-ios {
    border-radius: 10px;
}

.item-md, .item-ios {
    border-radius: 10px;
    width: 90%;
    margin: 5px auto;
    box-shadow: 0px 0px 4px #ededed;
    color: #333;
}

.toolbar-background {
    background: #1162a1;
    background: -moz-linear-gradient(180deg, #1162a1 0%, #3a86c7 100%);
    background: -webkit-linear-gradient(180deg, #1162a1 0%,#3a86c7 100%);
    background: linear-gradient(180deg, #1162a1 0%,#3a86c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1162a1', endColorstr='#3a86c7',GradientType=1 );
}

#buttonItem {
    border-radius: 0;
    background: none;
    border: none;
    box-shadow: none;
}
#buttonItem button {
  background: #1162a1;
  background: -moz-linear-gradient(180deg, #1162a1 0%, #3a86c7 100%);
  background: -webkit-linear-gradient(180deg, #1162a1 0%,#3a86c7 100%);
  background: linear-gradient(180deg, #1162a1 0%,#3a86c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1162a1', endColorstr='#3a86c7',GradientType=1 );
  color: #fff;
}

.label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary,
.label-ios-primary, .item-input .label-ios-primary, .item-select .label-ios-primary, .item-datetime .label-ios-primary {
    margin-top: 0;
}
a, 
.label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary,
.label-ios-primary, .item-input .label-ios-primary, .item-select .label-ios-primary, .item-datetime .label-ios-primary {
    color: #3a86c7;
}

.toast-message {
  white-space: pre-line;
}
