<ion-content>
  <ion-list *ngIf="transactions == null || !loaded">
    <ion-item>
      <h5>
        <ion-spinner></ion-spinner> <br />
        {{ 'LOADING_TXS' | translate }}
      </h5>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="transactions != null && transactions.length == 0 && loaded">
    <ion-item>
      <h5>
        {{ 'NO_TXS' | translate }}
      </h5>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="transactions != null && transactions.length != 0 && loaded">
    <ng-container *ngFor="let transaction of transactions | paginate: { id: 'txList',
                                                      itemsPerPage: numToDisplay,
                                                      currentPage: p,
                                                      totalItems: total }">
    
      <ion-item [ngClass]="{'unconfirmed' : transaction.unconfirmed, 'newTX' : transaction.newTx}">
        <div class="cardLeft">
          <a (click)="openModal('tx',transaction.fullHash)">{{transaction.date | date:'M/d H:mm'}}</a>
          &nbsp;&nbsp;
          <ion-icon *ngIf="transaction.recipientRS != accountID && transaction.recipientRS != null && !transaction.unconfirmed && contacts.indexOf(transaction.recipientRS) === -1 && !guest" class="addContact" (click)="addNewContact(transaction.recipientRS)" name="person-add"></ion-icon>
          <ion-icon *ngIf="transaction.senderRS != accountID && transaction.senderRS != null && !transaction.unconfirmed && contacts.indexOf(transaction.senderRS) === -1 && !guest" class="addContact" (click)="addNewContact(transaction.senderRS)" name="person-add"></ion-icon>
          &nbsp;<a *ngIf="transaction.attachment != null && (transaction.attachment.message != null || transaction.attachment.encryptedMessage != null)" (click)="openModal('message',transaction.fullHash)"><ion-icon name="mail"></ion-icon></a>
          <br />
          <span *ngIf="transaction.recipientRS != accountID && transaction.recipientRS != null && !transaction.unconfirmed">
            <span *ngIf="contacts.indexOf(transaction.recipientRS) != -1">{{contactNames[contacts.indexOf(transaction.recipientRS)]}}</span> 
            <span *ngIf="contacts.indexOf(transaction.recipientRS) == -1"><a (click)="copyAccount(transaction.recipientRS)">{{transaction.recipientRS}}</a> </span>
          </span>
          <span *ngIf="transaction.senderRS != accountID && transaction.senderRS != null && !transaction.unconfirmed">
            <span *ngIf="contacts.indexOf(transaction.senderRS) != -1">{{contactNames[contacts.indexOf(transaction.senderRS)]}}</span> 
            <span *ngIf="contacts.indexOf(transaction.senderRS) == -1"><a (click)="copyAccount(transaction.senderRS)">{{transaction.senderRS}}</a> </span>
          </span>
          <span *ngIf="((transaction.senderRS == accountID && transaction.recipientRS == accountID) || transaction.recipientRS == null || transaction.senderRS == null)  && !transaction.unconfirmed">
            You
          </span>
          <span *ngIf="transaction.unconfirmed">
            {{ 'U_TX' | translate }}
          </span>
        </div>
        <div class="cardRight">
          <span *ngIf="transaction.type != 0 && transaction.type != -2">
            {{transaction.typeName}}<br />
            <span class="feeTxt" [ngClass]="{'danger' : (transaction.senderRS == accountID)}">({{transaction.feeNQT/decimals | number : '1.0-8'}})</span>
          </span>
          <span *ngIf="transaction.type == 0 || transaction.type == -2">
            <span [ngClass]="{'danger' : (transaction.senderRS == accountID && transaction.recipientRS != accountID && transaction.amountNQT > 0), 'success':(transaction.recipientRS == accountID && transaction.senderRS != accountID && transaction.amountNQT > 0)}">
              <span *ngIf="transaction.senderRS == accountID && transaction.recipientRS != accountID && transaction.amountNQT > 0">-</span><span *ngIf="transaction.recipientRS == accountID && transaction.senderRS != accountID && transaction.amountNQT > 0">+</span>{{transaction.amountNQT/decimals | number : '1.0-8'}}
            </span><br />
            <span class="feeTxt" [ngClass]="{'danger' : (transaction.senderRS == accountID)}">({{transaction.feeNQT/decimals | number : '1.0-8'}})</span>
          </span>
        </div>
      </ion-item>
    </ng-container>
    <pagination-controls  id="txList"
                      (pageChange)="pageChanged($event)"
                      maxSize="7"
                      directionLinks="true"
                      autoHide="true"
                      previousLabel="Back"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </ion-list>
</ion-content>
