page-new-account {
	.scroll-content {
		background-color: #1162a1;
		color: white;
	}

	#closeButton {
        background-color: #fff;
        color: #1162a1;
    }
    
    .item-md {
    	border-radius: 2px;
   		margin: 20px 0;
    }

    .item-checkbox {
    	background-color: #1162a1;
    	color: #fff;
    }

    .item.item-md .checkbox-md {
    	margin: 9px 9px 9px 4px;
    }

    .blur {
        filter: blur(4px);
    }

    p, h4, h6 {
    	text-align: center;
    }

    h4 {
    	font-weight: bold;
    }
}
