page-new-account {
	.scroll-content {
        background: #1162a1;
        background: -moz-linear-gradient(0deg, #1162a1 0%, #3a86c7 100%);
        background: -webkit-linear-gradient(0deg, #1162a1 0%,#3a86c7 100%);
        background: linear-gradient(0deg, #1162a1 0%,#3a86c7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1162a1', endColorstr='#3a86c7',GradientType=1 );
        color: #fff;
    }

	#closeButton {
        background-color: #fff;
        color: #1162a1;
    }

    .item-checkbox {
    	background-color: transparent;
    	color: #fff;
        box-shadow: none;
    }

    .item.item-md .checkbox-md, .item.item-ios .checkbox-ios {
    	margin: 9px 9px 9px 4px;
    }

    .blur {
        filter: blur(4px);
    }

    // .secureLoc {
    //     color: rgba(255, 255, 255, 0.8)
    // }

    .cannotRecover, .secureLoc {
        color:#FFBA33;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    p, h4, h6 {
    	text-align: center;
    }

    #passphraseParent {
        display: inline-block;
    }

    .passphrase {
    	font-weight: bold;
        border: 1px solid;
        border-radius: 3px;
        padding: 5px;
        max-width: 750px;
    }
}
