<ion-header no-border>
	<ion-toolbar>
        <ion-buttons left>
            <button ion-button clear icon-only (click)="closeModal()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{ 'IMPORT' | translate }}</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content padding [class]="theme">
	<form [formGroup]="loginForm">
		<ion-list>			
			<ion-item>
				<ion-input [(ngModel)]="accountName" name="accountName" maxlength="16" type="text" required formControlName="accountNameForm" placeholder="{{ 'CHOOSE_ACCOUNT_NAME' | translate }}">
				</ion-input>
			</ion-item>
			<ion-item>
				<ion-input [ngModel]="account" name="account" type="text" required formControlName="accountForm" (ngModelChange)="account=$event.toLocaleUpperCase()" placeholder="{{ 'ACCOUNT' | translate }} (ARDOR-XXXX-XXXX-XXXX-XXXXX)">
				</ion-input>
				<button id="qrIcon" ion-button clear color="dark" type="button" item-right (click)="openBarcodeScannerAccount()"> <ion-icon name="barcode"> </ion-icon> </button>
			</ion-item>
			<ion-item class="failedBox" text-wrap *ngIf="!loginForm.controls.accountForm.valid && (loginForm.controls.accountForm.dirty|| submitAttempt)">
                Please enter a valid account address (ARDOR-XXXX-XXXX-XXXX-XXXXX).
            </ion-item>
			<ion-item>
				<ion-label item-start stacked color="primary">{{ 'DEFAULT_CHAIN' | translate }}</ion-label>
				<ion-select class="chainSelect" [(ngModel)]="chainName" name="chainName" id="nodeSelect" (ionChange)="changeChain()" formControlName="accountChainForm">
			      <ion-option *ngFor="let arrayChain of chains" [value]="arrayChain">
			        {{ arrayChain | uppercase }}
			      </ion-option>
			    </ion-select>
			</ion-item>	
			<ion-item>
			    <ion-label>{{ 'SAVE_TO_DEVICE' | translate }}</ion-label>
			    <ion-checkbox [(ngModel)]="savePassphrase" formControlName="saveForm"></ion-checkbox>
			</ion-item>
			<ion-item *ngIf="savePassphrase && !fingerAvailable && !pin">
				{{ 'NO_PIN_SET' | translate }}.
				<button ion-button (click)="setPin()" type="submit" block>{{ 'SET_PIN' | translate }}</button>
			</ion-item>
			<ion-item *ngIf="savePassphrase && (fingerAvailable || pin)">
				<ion-input [(ngModel)]="password" name="password" type="{{passwordType}}" formControlName="passwordForm" placeholder="{{ 'PASSPHRASE' | translate }}">
				</ion-input>

				<button id="eyeIcon" ion-button clear color="dark" type="button" item-right (click)="togglePassword()"> <ion-icon *ngIf="passwordType == 'password'" name="eye"> </ion-icon><ion-icon *ngIf="passwordType == 'text'" name="eye-off"> </ion-icon> </button>
				<button id="qrIcon" ion-button clear color="dark" type="button" item-right (click)="openBarcodeScannerPassword()"> <ion-icon name="barcode"> </ion-icon> </button>
			</ion-item>
			<ion-item *ngIf="savePassphrase" text-wrap style="color: red">
				If your device gets stolen or lost, it is recommended to transfer your balances out of all accounts that have saved passphrases on the device.
			</ion-item>
		</ion-list>

		<ion-row *ngIf="message" responsive-sm>
	      <ion-col class="failedBox">
	        {{message}}
	      </ion-col>
	    </ion-row>
		<ion-row responsive-sm>
			<ion-col>
				<button ion-button color="white" [disabled]="!loginForm.valid || (savePassphrase && !password)" (click)="saveLogin()" type="submit" block>{{ 'SAVE' | translate }}</button>
			</ion-col>
		</ion-row>
	</form>
</ion-content>
