page-fingerprint-wizard {
	.scroll-content {
		background: #1162a1;
        background: -moz-linear-gradient(0deg, #1162a1 0%, #3a86c7 100%);
        background: -webkit-linear-gradient(0deg, #1162a1 0%,#3a86c7 100%);
        background: linear-gradient(0deg, #1162a1 0%,#3a86c7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1162a1', endColorstr='#3a86c7',GradientType=1 );
	}

    #qrIcon, #fingerIcon, #contactsIcon, #eyeIcon {
        font-size: 1.5em;
        margin: 0;
        padding: 0 0.4em;
        height: 100%;
        color: #777;
        position: relative;
    }

    .failedBox, ion-list ion-item.failedBox, .darkTheme .item-md.failedBox, .darkTheme .item-ios.failedBox {
        background-color: #f53d3d !important;
        color: white;
        padding: 10px;
        border-radius: 2px;
    }
}
