page-fingerprint-wizard {
	.scroll-content {
		background-color: #1162a1;
	}

    #qrIcon, #fingerIcon, #contactsIcon, #eyeIcon {
        font-size: 1.5em;
        margin: 0;
        padding: 0 0.4em;
        height: 100%;
        color: #777;
        position: relative;
    }

    .item-md, .item-ios {
    	border-radius: 2px;
   		margin: 20px 0;
    }

    .failedBox, ion-list ion-item.failedBox, .darkTheme .item-md.failedBox, .darkTheme .item-ios.failedBox {
        background-color: #f53d3d !important;
        color: white;
        padding: 10px;
        border-radius: 2px;
    }
}
