page-coin-exchange-modal {
	.successBox {
    	background-color: #32db64;
    	color: white;
    	padding: 50px 10px;
    	border-radius: 2px;
    }

    .failedBox {
    	background-color: #f53d3d;
    	color: white;
    	padding: 10px;
    	border-radius: 2px;
    }

    #qrIcon, #fingerIcon, #contactsIcon, #eyeIcon {
        font-size: 1.75em;
        margin: 0;
        padding: 0 0.4em;
        height: 100%;
        color: #777;
        top: 13px;
        position: relative;
    }

    ion-content {
        background-color: #fff;
    }
}
