<ion-list [ngClass]="{'darkTheme' : (darkMode == true)}">
    <ion-item tappable (click)="accountSettings()">
        <label>{{ 'SETTINGS' | translate }}</label>
    </ion-item>
    <ion-item tappable (click)="accountInfo()">
        <label>{{ 'ACCOUNT_INFO' | translate }}</label>
    </ion-item>
    <!-- <ion-item tappable (click)="leaseBalance()">
        <label>{{ 'LEASE_BALANCE' | translate }}</label>
    </ion-item> -->
    <ion-item *ngIf="!guest" tappable (click)="editAccount()">
    	<label>{{ 'RENAME_ACCOUNT' | translate }}</label>
    </ion-item>
    <!-- <ion-item *ngIf="!hasPassphrase" (click)="savePassphrase()">
    	<label>Save Passphrase</label>
    </ion-item> -->
    <ion-item tappable *ngIf="!hasPin && !fingerAvailable && hasPassphrase" (click)="setPin()">
        <label>{{ 'SET_PIN' | translate }}</label>
    </ion-item>
    <ion-item tappable *ngIf="hasPin && !fingerAvailable && hasPassphrase" (click)="changePin()">
        <label>{{ 'CHANGE_PIN' | translate }}</label>
    </ion-item>
    <ion-item tappable *ngIf="hasPassphrase" (click)="removePassphrase()">
    	<label>{{ 'REMOVE_PASSPHRASE' | translate }}</label>
    </ion-item>
    <ion-item *ngIf="!guest" tappable (click)="presentRemove()">
    	<label>{{ 'REMOVE_ACCOUNT' | translate }}</label>
    </ion-item>
</ion-list>